# torch
torch==1.6.0
torchvision==0.7.0
torchaudio==0.6.0
git+https://github.com/Lezcano/geotorch/

# fastai stuff
fastcore==1.0.0
fastai2==0.0.30
git+https://github.com/rbracco/fastai2_audio.git@7d55d83823d6ea091413a2277c0fb2fcec3fd9a6

# misc
packaging

# for training, these need to be installed from source:
# warp_rnnt
# haste
