# torch
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.7.1+cpu 
torchvision==0.8.2+cpu
torchaudio

# misc
packaging
wheel
setuptools

# fastai stuff
fastai
fastcore
fastaudio

# other
Cython
tensorboard
youtokentome
editdistance
jiwer
IPython
tornado

# models
# x-transformers==0.8.1
memcnn==1.5.0

# viz
jupyter==1.0.0

